<div class="row">
  <div class="col-md-12">
    <div id="notice" class="alert alert-dark">
      <%= @notice %> <br>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <h1>Scores</h1>
    </div>

    <table class="table table-stripped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.name %></td>
          <td><%= score.score %></td>
          <td><%= score.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>