<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div id="notice" class="alert alert-dark">
      <%= @notices %> <br>
      <%= notice %>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <p>Hello, this game will shuffle alphabet. Your task is to compose words have meaning</p>
    <%= link_to 'Start', question_play_path, class: "btn btn-success" %>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <span>Created : Angga Dwi Hariadi</span>
  </div>
</div>